// When color definition differs for dark and light variant
// it gets @if ed depending on $variant


$base_color: #fcfcfc;
$text_color: black;
$bg_color:  #d8bd62;
$fg_color: #242424;

$selected_fg_color: #ffffff;
$selected_bg_color:  #322600;
$selected_borders_color: darken($selected_bg_color, 30%);
$borders_color: #808080;
$alt_borders_color: darken($bg_color, 35%);
$borders_edge:  transparentize(white, 0.2);
$link_color: darken(#215d9c, 10%);
$link_visited_color: darken(#215d9c, 20%);
$top_hilight: $borders_edge;
$dark_fill: mix($borders_color, $bg_color, 50%);
$headerbar_color: lighten($bg_color, 5%);
$menu_color: #f8f8f8;
$popover_bg_color: $bg_color;
$popover_hover_color: lighten($bg_color, 5%);

$scrollbar_bg_color: #f8f8f8;
$scrollbar_slider_color: #459723;
$scrollbar_slider_hover_color: #3168a0;
$scrollbar_slider_active_color:  #134c87;

$dummy: $scrollbar_bg_color;

$warning_color: #f57900;
$error_color: #cc0000;
$success_color: #73d216;
$destructive_color: #ef2929;

$osd_fg_color: #eeeeec;
$osd_text_color: white;
$osd_bg_color: transparentize(#1c1f20, 0.3);
$osd_insensitive_bg_color: transparentize(mix($osd_fg_color, opacify($osd_bg_color, 1), 10%), 0.5);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: transparentize(black, 0.3);

$sidebar_bg_color: mix($bg_color, $base_color, 50%);
$base_hover_color: transparentize($fg_color, 0.95);

$tooltip_borders_color: transparentize(white, 0.9);
$shadow_color: transparentize(black, 0.9);

$drop_target_color: #4e9a06;

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: darken($base_color, 1%);
$backdrop_text_color: mix($text_color, $backdrop_base_color, 80%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_insensitive_color:  darken($backdrop_bg_color, 15%);
$backdrop_selected_fg_color:  $backdrop_base_color;



//special cased widget colors
$suggested_bg_color: $selected_bg_color;
$suggested_border_color: $selected_borders_color;
$progress_bg_color: $selected_bg_color;
$progress_border_color: $selected_borders_color;
$checkradio_bg_color: $selected_bg_color;
$checkradio_fg_color: $selected_fg_color;
