/***************
 * mate-panel *
 ***************/

/* first make all transparent */
#PanelPlug,
#PanelApplet button,
PanelToplevel.background,
#PanelApplet-window-menu-applet-button {
    
}

#PanelPlug,
PanelToplevel > * {
border-color: transparent;
}
/* let's start it */
#PanelPlug,
.mate-panel-menu-bar,
PanelToplevel.background,
PanelToplevel > *:not(menu):not(menuitem):not(button):not(menubar) { 
    background-color: #070708;
        background-image: none;
    /* normal panel */
    /* transparent panel */
/*    color: @theme_selected_fg_color; */
    text-shadow: none;
box-shadow:
 inset 0 30px rgb(7,7,8) ,
 inset 0 29px rgb(10,9,9) ,
 inset 0 28px rgb(12,12,12) ,
 inset 0 27px rgb(14,14,13) ,
 inset 0 26px rgb(16,16,16) ,
 inset 0 25px rgb(18,18,18) ,
 inset 0 24px rgb(21,21,20) ,
 inset 0 23px rgb(23,23,22) ,
 inset 0 22px rgb(25,24,25) ,
 inset 0 21px rgb(27,26,27) ,
 inset 0 20px rgb(29,29,28) ,
 inset 0 19px rgb(31,30,31) ,
 inset 0 18px rgb(33,33,33) ,
 inset 0 17px rgb(35,36,35) ,
 inset 0 16px rgb(37,38,37) ,
 inset 0 15px rgb(39,39,39) ,
 inset 0 14px rgb(41,41,41) ,
 inset 0 13px rgb(43,43,44) ,
 inset 0 12px rgb(45,46,46) ,
 inset 0 11px rgb(48,47,48) ,
 inset 0 10px rgb(50,50,50) ,
 inset 0 9px rgb(53,52,52) ,
 inset 0 8px rgb(54,54,54) ,
 inset 0 7px rgb(57,56,56) ,
 inset 0 6px rgb(59,58,59) ,
 inset 0 5px rgb(61,60,61) ,
 inset 0 4px rgb(63,63,63) ,
 inset 0 3px rgb(65,64,65) ,
 inset 0 2px rgb(157,106,70) ,
 inset 0 1px rgb(69,69,69) ;

 border-width: 0px;
}

.mate-panel-menu-bar,
.mate-panel-menu-bar menubar,
.mate-panel-menu-bar menuitem,
.mate-panel-menu-bar {
background-image: none;
}

/* workaround to avoid unwanted black frames if switching compositor on/off */
.mate-panel-menu-bar .csd.popup decoration {
}


/* workaround to avoid unwanted black frames if switching compositor on/off */
.mate-panel-menu-bar .window-frame.csd.popup {
}

#PanelApplet {
    border-width: 1px;
    box-shadow: inset 0 1px #a9aebd, inset 0 -1px #a9aebd;
    border-color: #2b395e;
  border-style: solid;
background-color: #ccdbd2;
}

PanelSeparator {
    border-width: 0;
    background-image: none;
    background-color:black;
    text-shadow: none;
    padding:0px;
}

/* all applets */
.mate-panel-menu-bar #PanelApplet button,
.mate-panel-menu-bar #PanelApplet button.flat,
.mate-panel-menu-bar #PanelApplet button.toggle,
.mate-panel-menu-bar #PanelApplet button.flat.toggle {
   background-image: linear-gradient(to bottom, 
                   #676767, 
                    #313131);
    
    border-radius: 3px;
    border-width: 1px;
    box-shadow: inset 0 1px #9b9b9b, inset 0 -1px #9b9b9b, inset 1px 0 #9b9b9b, inset -1px 0 #9b9b9b;
    border-color: #002143;
    text-shadow: none;
    color:white;
}

.mate-panel-menu-bar #PanelApplet button:checked,
.mate-panel-menu-bar #PanelApplet button:checked:hover,
.mate-panel-menu-bar #PanelApplet button:hover:active,
.mate-panel-menu-bar #PanelApplet button.flat:checked,
.mate-panel-menu-bar #PanelApplet button.flat:checked:hover,
.mate-panel-menu-bar #PanelApplet button.flat:hover:active,
.mate-panel-menu-bar #PanelApplet button.toggle:checked,
.mate-panel-menu-bar #PanelApplet button.toggle:checked:hover,
.mate-panel-menu-bar #PanelApplet button.toggle:hover:active,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:checked,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:checked:hover,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:hover:active {

background-image: linear-gradient(to bottom, 
                    #292929, 
                    #080808);
    
    border-radius: 0;
    border-width: 1px;
    box-shadow: inset 0 1px #9b9b9b, inset 0 -1px #9b9b9b, inset 1px 0 #9b9b9b, inset -1px 0 #9b9b9b;
    border-color: #002143;
    text-shadow: none;
    color:white;
}

.mate-panel-menu-bar #PanelApplet button:hover,
.mate-panel-menu-bar #PanelApplet button.flat:hover,
.mate-panel-menu-bar #PanelApplet button.toggle:hover,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:hover {
  background-image: linear-gradient(to bottom,  lighten(#676767, 10%), 
                    #313131);
    
    border-radius: 0;
    border-width: 1px;
     box-shadow: inset 0 1px #9b9b9b, inset 0 -1px #9b9b9b, inset 1px 0 #9b9b9b, inset -1px 0 #9b9b9b;
    border-color: #002143;
    text-shadow: none;
    color: white;

}

/* Classic icon style */
.mate-panel-menu-bar {
    -PanelMenuBar-icon-visible: true;
    border: 1px solid #000;
}

na-tray-applet {
    background-image: none;
    background-color: transparent;
    padding: 0;
    text-shadow: none;
    -NaTrayApplet-icon-padding: 3;
    -NaTrayApplet-icon-size: 16;
}

/* volume applet, brightness applet */
.mate-panel-applet-slider {
    background: transparent;
}

.mate-panel-applet-slider .frame {
    /*background-color: @theme_bg_color;*/
    border-image: none;
    border-style: solid;
    border-radius:2px;
    padding: 0px;
    margin: 0px;
}

.mate-panel-applet-slider .frame .frame{
    background-color:transparent;
    border-style: none;
}

.mate-panel-applet-slider .frame .button {
   /* color: @theme_fg_color;*/
}



